<body>
  <table width="100%">
    <tr>
      <td align="center">
        <table>
          <h1>Welcome</h1>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <p>Hello, {USERNAME}</p>
                    <p>Thank you for signup to the portal, Create your own topics, posts and do comments in any post.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>